<header>
    <nav>
        <ul>
            <li><a href="#home">Начало</a></li>
            <li><a href="#articles">Статии</a></li>
            <li><a href="#about">За нас</a></li>
            <li><a href="#contact">Контакт</a></li>
        </ul>
    </nav>
</header>