<main>
  
  <% locals.posts.forEach(post => { %>
    <div class="article-container">
      <img class="article-photo" src="<%=` /images/${post.filename}` %>" alt="Main image of the trip" />
      <div class="article-info-container">
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
      </div>
    </div>
    <a href="/view-post/<%= post.id %>" class="read-more">Continue reading...</a>
  <% }) %>
</main>