<main>
  <div id="article-container">
    <article>
      <!-- <div class="article-photo">
        <img
          src="images/Rila.jpg"
          alt="Изглед към Рила откъм Разлог"
        />
      </div> -->

      <h2>Заглавие на статия</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel nisi
        dignissim elit dignissim tincidunt. Donec tincidunt semper nisl, quis
        commodo nisl tincidunt id. Phasellus ultrices euismod hendrerit. Nullam
        bibendum elementum lobortis. Vestibulum ac nulla et mi tristique eleifend.
        Pellentesque ac gravida tortor. Nunc est libero, vestibulum eget ex sed.
        <p>Continue reading...</p>
      </p>
    </article>
  </div>

  <div id="article-container">
    <article>
      <!-- <div class="article-photo">
        <img
          src="images/Rila.jpg"
          alt="Изглед към Рила откъм Разлог"
        />
      </div> -->

      <h2>Заглавие на статия</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel nisi
        dignissim elit dignissim tincidunt. Donec tincidunt semper nisl, quis
        commodo nisl tincidunt id. Phasellus ultrices euismod hendrerit. Nullam
        bibendum elementum lobortis. Vestibulum ac nulla et mi tristique eleifend.
        Pellentesque ac gravida tortor. Nunc est libero, vestibulum eget ex sed.
        <p>Continue reading...</p>
      </p>
    </article>
  </div>

  <div id="article-container">
    <article>
      <!-- <div class="article-photo">
        <img
          src="images/Rila.jpg"
          alt="Изглед към Рила откъм Разлог"
        />
      </div> -->

      <h2>Заглавие на статия</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel nisi
        dignissim elit dignissim tincidunt. Donec tincidunt semper nisl, quis
        commodo nisl tincidunt id. Phasellus ultrices euismod hendrerit. Nullam
        bibendum elementum lobortis. Vestibulum ac nulla et mi tristique eleifend.
        Pellentesque ac gravida tortor. Nunc est libero, vestibulum eget ex sed.
        <p>Continue reading...</p>
      </p>
    </article>
  </div>

  <div id="article-container">
    <article>
      <!-- <div class="article-photo">
        <img
          src="images/Rila.jpg"
          alt="Изглед към Рила откъм Разлог"
        />
      </div> -->

      <h2>Заглавие на статия</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel nisi
        dignissim elit dignissim tincidunt. Donec tincidunt semper nisl, quis
        commodo nisl tincidunt id. Phasellus ultrices euismod hendrerit. Nullam
        bibendum elementum lobortis. Vestibulum ac nulla et mi tristique eleifend.
        Pellentesque ac gravida tortor. Nunc est libero, vestibulum eget ex sed.
        <p>Continue reading...</p>
      </p>
    </article>
  </div>

  <div id="article-container">
    <article>
      <!-- <div class="article-photo">
        <img
          src="images/Rila.jpg"
          alt="Изглед към Рила откъм Разлог"
        />
      </div> -->

      <h2>Заглавие на статия</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel nisi
        dignissim elit dignissim tincidunt. Donec tincidunt semper nisl, quis
        commodo nisl tincidunt id. Phasellus ultrices euismod hendrerit. Nullam
        bibendum elementum lobortis. Vestibulum ac nulla et mi tristique eleifend.
        Pellentesque ac gravida tortor. Nunc est libero, vestibulum eget ex sed.
        <p>Continue reading...</p>
      </p>
    </article>
  </div>
</main>