<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/article.css" />
    <title>Trip Chaser</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="article-container">
        <h2 class="article-title">Article text</h2>
        <p class="article-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A nulla odit eaque accusantium nihil, necessitatibus est? Nam, dolore perspiciatis. Porro veniam eius quaerat at voluptate maxime! Nesciunt ad explicabo unde!
            Iusto commodi distinctio inventore quaerat, reiciendis ipsa saepe placeat quo fuga nesciunt voluptates earum quas nulla veniam nisi sit. Iusto corrupti optio, quasi cumque voluptates voluptate quas corporis doloremque voluptatibus.
            Atque exercitationem porro, libero sint numquam blanditiis natus cum id alias! Illum veritatis harum libero molestiae corporis debitis fugit dolorem temporibus itaque rerum accusantium laudantium quod, optio repudiandae provident similique?
            Blanditiis quod laudantium odio velit accusantium? Minima odit molestias facilis est non perferendis voluptatum eum? Architecto velit libero nam quasi impedit similique cum pariatur distinctio eveniet iste! Quis, voluptate sit.
            Assumenda iste veniam laborum delectus odio modi distinctio cumque voluptas nemo commodi ipsum esse voluptates incidunt eligendi, vero doloribus consequatur voluptate illo minus rem asperiores alias. Officiis cumque minima consequatur?
            Vel ipsam ab perferendis reprehenderit facere culpa obcaecati delectus dignissimos tempora, odio aspernatur ex illo error, voluptatum beatae officia eos repellat cupiditate accusamus! Similique corrupti, magni debitis officia rerum molestias!
            Est ducimus autem id provident modi mollitia nam, dicta dolorum error voluptas, suscipit at placeat eius fugit deserunt illum eveniet ipsa voluptates magni recusandae sit! Maxime numquam quo praesentium quaerat.
            Iure, commodi pariatur et vero labore non maiores quasi ratione praesentium modi dolores placeat excepturi porro mollitia nostrum libero, cumque quibusdam, tenetur quam ipsa error quae cum! Ea, maiores nemo!
            Est, minus laudantium fugiat harum asperiores quis optio suscipit numquam aliquid? 
            
            A dolorum animi exercitationem quidem nulla, voluptatum, iste repellat esse minima dolor dicta labore qui consectetur rerum! Quibusdam, repellendus.
            Rerum laudantium deserunt repudiandae temporibus, dolorum tempore illum ea, unde quae quod perferendis perspiciatis facilis consequuntur tenetur assumenda culpa quis amet vitae, commodi asperiores magnam incidunt quas corrupti? Officia, hic.
            Deserunt, beatae. Ex necessitatibus velit explicabo a doloremque eum natus, perspiciatis consequatur quae commodi! Est, explicabo laboriosam autem doloremque dolorem fuga excepturi minus, ipsum, sequi soluta maxime amet id mollitia?
            Aperiam quisquam accusantium distinctio eveniet fugiat error dolorem fugit, ipsam magnam quas. Quasi at ab voluptatum nostrum officiis, cumque explicabo! Numquam explicabo nihil est repudiandae, obcaecati iste nemo itaque labore?
            Enim libero, recusandae atque quam reprehenderit dolor cumque neque tenetur voluptas numquam nobis deleniti, delectus aspernatur vero quisquam. Nesciunt obcaecati exercitationem quis culpa, voluptatibus debitis! Laboriosam omnis fuga aliquid ipsum!
            Itaque libero animi commodi nostrum quidem ipsam dolor fugit officia ex in officiis, recusandae molestiae amet impedit eveniet totam ab soluta. Labore iusto adipisci eos vel exercitationem fugiat voluptatibus facilis.
            Officia hic delectus, magnam dolore et, soluta consequatur fugiat laborum enim non qui ipsam dignissimos nihil maiores velit rem tempora eaque, asperiores placeat sapiente recusandae. Odio repellendus nostrum animi facere?
            Aspernatur eveniet nihil eaque sit enim, a deserunt recusandae id. Esse expedita doloribus quidem adipisci dignissimos distinctio amet, error ab delectus incidunt harum officia, est magnam odio omnis tenetur ut!
            Itaque amet et, tempore ut enim perspiciatis? 
            
            Quam minus delectus odio molestias iure atque ex pariatur vel perspiciatis dicta aut magnam voluptates ab eum illo, obcaecati ullam quibusdam repellendus ipsa!
            Corporis eveniet cumque numquam aliquam veniam laboriosam excepturi, aliquid odio, maxime eos impedit dolorum veritatis. Id sed inventore atque vero provident rerum fugit quibusdam sequi quis, voluptatibus alias facilis ab!
            Dicta deleniti, error quo a expedita aperiam necessitatibus nam optio maiores dolorem temporibus dignissimos, laborum cupiditate delectus porro quisquam eaque dolorum. Perferendis voluptates quae iusto mollitia deserunt excepturi libero laborum.
            Dolores, cum numquam! Dolorem deleniti beatae tenetur, laudantium molestiae corrupti veniam sequi exercitationem fugiat reprehenderit ex sed omnis nisi iste, illum eveniet incidunt ratione! Repellendus perspiciatis ipsum velit sapiente eos.
            Eum et rem velit voluptates necessitatibus, sapiente incidunt nemo ut? Eligendi, inventore eum, ipsa at doloremque voluptates cum animi quaerat praesentium corrupti maxime iste, nostrum commodi deserunt odit veniam ipsam.
            Quia omnis nobis rerum libero rem dolore voluptatibus, et commodi non itaque tempora sequi porro magnam vitae soluta repellendus totam. Alias, repudiandae. Exercitationem, ea quae cum eaque repellat necessitatibus dolore.
            Aliquam tempora consequatur quo? Illum natus adipisci quasi nesciunt animi nemo deleniti sequi earum quaerat numquam minus repudiandae dolore expedita eveniet dolor, aliquam omnis, ea totam ex voluptate voluptatum aspernatur!
            Dolores soluta molestiae amet. Sint nemo maiores, nam, modi omnis aperiam animi inventore architecto obcaecati aliquid dolores voluptatem possimus, laborum numquam nobis atque velit exercitationem nisi. Repellat ullam inventore id!
            Tempora id veritatis necessitatibus molestiae provident tempore est fugit deleniti repellat ipsum, optio a accusantium, laudantium quis illo, excepturi voluptatem! Sint similique, at ullam itaque suscipit quae error cum iusto?
            Nulla ab fuga non quos atque deleniti culpa ducimus accusantium ex inventore, molestiae reiciendis maiores id aspernatur esse corrupti magnam accusamus molestias! Quaerat quis sapiente similique nostrum iure dignissimos tenetur.
            Modi harum fuga quo reprehenderit laboriosam corrupti id sed. Dicta, voluptate. Non illum corrupti eum quisquam. Deserunt, non ratione, magnam obcaecati exercitationem tenetur reprehenderit quia, quae cumque velit eum possimus.
            Voluptatibus sequi non cumque accusamus possimus aliquam fugit omnis? 
            
            Animi in accusantium obcaecati. Sed, aliquam nam pariatur provident distinctio ea ipsam veritatis voluptate? Repudiandae commodi eum explicabo quam fugiat nostrum?
            Quidem fugiat quas exercitationem debitis magnam ex porro ad, aspernatur nisi aliquid magni animi officiis odio in veniam tempore totam omnis corporis libero repellendus culpa, nemo nulla sint quod! Reiciendis?
            Provident, consequatur neque aut itaque reiciendis quaerat enim debitis facere laboriosam deleniti ipsum omnis corrupti, odit saepe ab, ea numquam laudantium totam! Magni neque minus id perferendis expedita, adipisci sunt!
            Nesciunt laborum, cumque expedita aut minima aliquid consequatur voluptatibus, id sed exercitationem provident tenetur sequi quasi eum dolore molestias omnis qui, placeat amet animi earum. Inventore animi totam incidunt soluta?
            Quaerat aliquid, dicta nam laborum sequi doloremque! Omnis ipsa, quam veritatis modi, distinctio ducimus similique animi accusamus totam architecto quae harum debitis, ullam dolores nobis placeat nam id rem necessitatibus.
            Optio explicabo magni vero dolores excepturi, alias, amet est eum nemo quis rem? Culpa dolorum porro pariatur, consequuntur praesentium iste atque quam eaque rem, numquam facilis voluptates. Ullam, hic commodi.
            Delectus, vero quas neque perferendis repellendus excepturi aut ut inventore id! Veritatis deserunt obcaecati natus doloremque ipsam! Cupiditate, ipsam atque cumque laboriosam, quod aperiam itaque architecto temporibus quos, ea quae.
            Numquam accusantium labore cumque quis iusto odit tenetur voluptas tempora eius, laborum exercitationem suscipit quo dolor id velit ea incidunt dolores corrupti, natus quia temporibus voluptate quos et ut? Eveniet.
            Repellendus illum quam cum maiores deserunt aperiam obcaecati accusantium praesentium. Rerum quasi expedita natus inventore nihil numquam earum placeat. Inventore, natus? Ipsum exercitationem eveniet animi praesentium dolorum nobis non sequi!
            Incidunt nulla laudantium, libero obcaecati unde reprehenderit numquam enim ea architecto voluptatibus. Maxime error at totam consequuntur minus et quo. Tempore eos fuga reprehenderit officia molestias, incidunt error ex dolore?
            Adipisci at eum laboriosam neque quis quo vero iure obcaecati praesentium est? Velit veniam commodi officia facilis optio voluptatem iusto, corporis eum ducimus, labore quo a quod, in quas ex.
            Nulla, aut quam ut quaerat rem fugiat, vero tempora voluptate impedit odit quasi ex error quisquam, facere ipsa nemo quia rerum perferendis quis molestiae ullam sed maxime harum illo! Ratione.
            Reiciendis temporibus distinctio aliquam ad aperiam nesciunt nostrum inventore quia voluptate omnis nobis laborum officia porro, enim sint ab consectetur voluptas nihil. Officia in aperiam nam voluptatem omnis vel! Debitis?
            Maiores, beatae porro rem eligendi voluptate sint possimus, inventore non tenetur, modi similique perferendis quasi odit recusandae saepe nesciunt voluptatibus pariatur sapiente aut rerum praesentium error id. Vitae, harum quos?
            Pariatur similique molestiae tenetur vero cumque, ducimus blanditiis reiciendis rerum repellendus doloribus quod, hic vel at suscipit minus eos necessitatibus recusandae ex voluptatem. Aut ipsum aliquam vero odio, debitis eos!
            Eius cum quam, quia saepe alias incidunt! Eligendi non, necessitatibus quisquam totam deleniti natus consequatur, ipsam amet inventore ipsum, aperiam aspernatur alias cupiditate corporis cumque fuga placeat enim debitis distinctio?
            Asperiores harum odit quo commodi cumque corporis architecto unde animi repellendus mollitia minus quia assumenda veniam illum alias eveniet eos facere expedita obcaecati tenetur, et neque sunt eaque! Possimus, vero?
            Delectus voluptates libero reiciendis mollitia reprehenderit dolorum et itaque animi? 
            
            Voluptatum laborum soluta libero ea necessitatibus, qui vitae ad recusandae ab beatae molestiae alias illum inventore maxime sapiente, veritatis nostrum!
            Ad, neque. Perferendis recusandae deserunt quaerat facere nisi. Laboriosam neque quidem ipsam distinctio minima est? Incidunt assumenda, inventore quas ea qui ducimus tempore veritatis doloremque sit neque, consequatur reiciendis dolore?
            Voluptatum nostrum dolorum earum a impedit molestias, quaerat eius sapiente consequatur voluptate nam eligendi explicabo vero beatae nobis saepe asperiores, dignissimos maiores. Praesentium quis aliquid dolores libero consequuntur similique dolorem.
            Quos nesciunt quo accusantium dolorum tempora animi ab earum quam, qui maxime enim placeat, aliquid similique deserunt voluptatibus illo corporis labore. Vel exercitationem recusandae dolorum nobis accusamus iure, ab vitae.
            Nostrum tenetur sed vero excepturi vel. Perferendis alias quas, possimus ratione excepturi reiciendis distinctio voluptas nisi praesentium veritatis vero fugit deleniti magnam, architecto eaque rem beatae dolore omnis nihil. Recusandae!
            Deserunt rem dolorum beatae nisi, provident amet voluptate tempora quo adipisci reiciendis excepturi, quisquam eum eligendi. Rerum dolorem et dignissimos aspernatur autem, molestias quam blanditiis error, repellendus, veniam eveniet quo!
            Dolorum in aliquid numquam facilis quas iure quaerat aliquam esse enim, iste, beatae itaque, accusantium dicta facere nesciunt vero ullam hic. Reiciendis, odit ad harum minima earum corrupti magnam eos.
            Et pariatur aspernatur ad aliquam, esse soluta doloribus repudiandae sapiente iure nulla doloremque eaque placeat impedit adipisci? Amet minus eius a! Sed quaerat qui ipsum voluptate, tenetur aperiam quos iure.
            Dignissimos dicta minima sapiente cumque corporis eum veritatis ratione quo animi accusantium quia repudiandae laborum, at autem atque sunt aliquam blanditiis laudantium quae magni, voluptatum officiis deleniti. Nihil, dolorum recusandae.
            Vero veritatis quos minus voluptatibus ipsam dolore quibusdam quis earum amet id, blanditiis nostrum. Nesciunt, consequuntur officiis sapiente quas doloribus nostrum veritatis, error voluptas atque dolores exercitationem expedita, quasi praesentium?
            Id omnis animi a, nobis minima, aut nostrum quaerat molestias, perferendis harum maxime architecto? Corrupti ad earum quibusdam praesentium non cum eligendi dolorum odio, quasi tempore ipsum explicabo. Quod, quos!
            Beatae, quas ipsam ut et odit quo, at suscipit minus alias minima a labore ratione fuga magni expedita qui porro eaque ea voluptas neque! Dolore nam soluta nulla perspiciatis corrupti.
            Aliquam, distinctio neque autem ea eos adipisci libero ab enim ipsa saepe laborum necessitatibus blanditiis provident? Officia distinctio est maxime eveniet excepturi cumque labore reiciendis sequi iure? Voluptate, excepturi aperiam.
            Illum veniam a consequatur temporibus nesciunt odio, iure ratione, eveniet enim deleniti qui ullam rem similique corrupti tempore. Minus eius eos modi pariatur mollitia esse blanditiis neque officiis quas adipisci?
            Cupiditate nihil ex cumque! Omnis cumque eos quisquam, illo ipsum corrupti expedita accusamus labore suscipit non maxime autem natus esse similique voluptatem libero ad debitis neque adipisci sapiente sit! Consequatur?
            Odit doloremque autem perspiciatis commodi atque ullam officiis id voluptates cum! 
            
            Voluptatem mollitia provident dolores minima facere veniam. Fugit culpa repellat maxime porro quae harum aliquid explicabo ullam corporis expedita!
            Ea nobis cumque at dignissimos corrupti, minima, eius fuga praesentium eum laudantium aliquam eligendi deserunt nostrum doloribus natus magnam sapiente ducimus sit eveniet porro ab atque. Dolorum illum cum a.
            Necessitatibus, tempore. Provident animi cum totam praesentium deleniti quod veritatis, consequatur placeat quam, aperiam fugiat at a delectus, sequi sunt amet. Quo vel accusamus minima corrupti sit natus ut dolore?
            Omnis, alias excepturi? Optio at exercitationem distinctio dolore alias quisquam commodi mollitia natus nesciunt voluptatem. Maiores nam aperiam quod amet, facere debitis tempora ex. Cupiditate qui dolor ab tempore? Iure?
            Iure dignissimos consequatur, pariatur doloremque eligendi, temporibus non eos nemo labore numquam aspernatur reprehenderit, placeat deserunt dolor ipsa ab? Cupiditate impedit iste nam ullam corporis consectetur reiciendis, repellat laudantium ea?
            Repudiandae quod rem dolorum expedita unde eum maiores distinctio provident error tempora eveniet ab itaque in sequi quidem explicabo, accusantium eius quis voluptas hic ut a? Accusamus fuga earum dolore?
            Facilis accusantium exercitationem officiis dolorem nihil sequi recusandae eos repudiandae voluptas a ipsa minima corrupti id quibusdam neque aspernatur maiores dolore mollitia ex necessitatibus illo, eveniet quisquam veniam. Similique, magni?
            Cupiditate iusto accusamus rerum, nesciunt eveniet atque possimus officiis reprehenderit quae soluta dolores velit quod. Perferendis, laborum optio. Obcaecati modi atque nisi repellat magni iusto sint hic molestias velit fuga!
            Quibusdam similique voluptatem illo consectetur aut nesciunt, odio eos? Nobis dignissimos praesentium deleniti. Distinctio ea magni dolore consequatur? Vitae, accusamus quo vel consequuntur fugit ipsa omnis autem obcaecati? Exercitationem, perspiciatis.
            Eum, mollitia culpa illo nihil voluptas facere odit velit, sunt, inventore quis obcaecati minus! Accusantium, quasi adipisci veniam ut sed doloribus corporis. Doloremque obcaecati facilis possimus dolores qui? Aperiam, dicta?
            Aliquid libero quibusdam, natus voluptatibus culpa perferendis doloribus ipsum nesciunt omnis reprehenderit laboriosam? In dolores reprehenderit voluptas ea rerum vitae, quia cum totam sunt eveniet animi earum eius ullam odio!
            Voluptatibus totam maxime a quibusdam odio tempora error, aliquid ratione quia libero excepturi, harum incidunt blanditiis at quos voluptatum quo minima, corrupti quae molestias veniam inventore voluptates. Libero, obcaecati repellat.
            Maxime atque sunt reprehenderit voluptatibus dolor ut. Inventore natus ut totam veniam cumque voluptatibus voluptatum aut cum odio eum at, aperiam fugiat corporis ipsam obcaecati aspernatur qui et hic! Ea.
            At neque asperiores doloremque dolor error aut natus velit adipisci, impedit enim repellendus corporis quod tenetur quam nemo dolore quas dignissimos rerum incidunt quae pariatur odio consectetur. Architecto, amet exercitationem.
            Possimus repudiandae tempora provident eligendi praesentium. 
            
            Tenetur dolore alias porro impedit explicabo dicta molestias sint delectus nesciunt veniam iste et deleniti, ipsa expedita pariatur necessitatibus, non veritatis animi consectetur voluptas.
            Earum iusto aspernatur delectus consectetur beatae. Libero rerum perspiciatis necessitatibus nihil, atque facere aperiam. Similique fugiat ea illum voluptatibus inventore enim? Repellendus aliquid quibusdam quas? Consequatur rerum saepe nulla dicta?
            At rerum reprehenderit cum eum dolor quisquam sed porro in placeat dolorem, sunt ullam alias perspiciatis numquam laboriosam pariatur! Unde esse maiores dignissimos illo nostrum voluptatibus deleniti magnam expedita possimus?
            Fuga expedita deserunt voluptas sequi suscipit laborum libero hic rem sit in nulla, ut doloremque optio ullam non iure quo nemo rerum similique placeat dolor reprehenderit molestias alias enim. Ad.
            Architecto saepe voluptatum porro labore nam. Voluptatibus et tenetur saepe minus quaerat minima nobis quibusdam sapiente voluptatem explicabo aliquid quisquam animi perspiciatis quos, nisi consectetur. Ipsa dolorem veritatis nulla illo.
            Quos sequi quod perspiciatis saepe, facilis repudiandae officia eligendi totam itaque facere ratione quam alias fugit necessitatibus ipsam repellat, a numquam. Officia autem veniam ad cumque error possimus adipisci asperiores?
            Cumque aperiam minus sint ducimus tempore aliquid, hic sit ratione quas quam repellat, placeat voluptatibus repellendus quisquam laboriosam adipisci. Voluptate repellendus eligendi voluptatibus maxime odio quia molestiae assumenda quisquam laudantium!
            Ipsa ducimus, iusto aut pariatur, suscipit alias, repellendus aperiam repellat dolor nisi temporibus tempore numquam harum distinctio amet est non sint quasi architecto vel quam doloremque ut. Quas, voluptatibus consectetur.
            Impedit maxime dolorem voluptatem! Totam quasi eaque cum nemo fugit, alias officia cumque quod. Nostrum nesciunt quam explicabo vero! Esse velit beatae adipisci animi placeat accusamus, sapiente sit incidunt nemo.
            Aliquid voluptates distinctio minima quasi cupiditate quaerat accusamus eum voluptatibus quidem laboriosam explicabo modi consequatur, nobis labore rem quam assumenda dolorem pariatur. Consequatur quam repudiandae distinctio dolorum. Placeat, repellendus recusandae.
            Autem in consequuntur iste corporis veniam? Doloribus optio, rem, quidem ducimus odio itaque cupiditate, reiciendis vero illum laborum qui illo nemo porro. Vero sequi quidem magnam dignissimos assumenda nobis quia?
            Quasi et error aliquid ratione consectetur. Asperiores, reprehenderit? 
            
            Modi error, vero repudiandae pariatur, eos assumenda totam ullam incidunt doloribus illo hic nam temporibus eaque quae architecto iure. Ipsa, blanditiis fuga.
            Atque tempore, esse omnis dolor accusantium ipsa excepturi natus corrupti nostrum obcaecati reprehenderit. Quisquam laudantium error porro similique. Similique numquam laborum commodi excepturi! Saepe, incidunt sequi! Ducimus aliquam sunt neque!
            Exercitationem at sapiente tempore, quibusdam ullam corrupti inventore quam quis numquam provident dolorum quod sint in explicabo laborum praesentium vero nesciunt voluptatibus totam? Adipisci magni optio suscipit, soluta recusandae reiciendis.
            Corrupti ratione repellat magni tempore saepe veniam quaerat, asperiores rerum ex itaque, quis dignissimos facilis sapiente ipsum eius totam dolore voluptas harum illo blanditiis. Vero aperiam quos qui dolorem maxime?
            Nisi optio eum tempore quia sed maiores, est eveniet obcaecati eaque, molestias voluptatibus recusandae vero. Minima quas nobis laboriosam nulla cumque tenetur, architecto enim veniam. Sed illo expedita soluta sit.
            Adipisci nulla aperiam molestias minus dolorum dignissimos, similique autem odio eum repudiandae voluptas nisi blanditiis neque assumenda maiores temporibus pariatur at ab aliquid quae esse magni ad dolor. Obcaecati, accusantium.
            Recusandae optio officiis eos doloremque atque laudantium vero debitis tempore veniam natus minus, eaque a itaque ducimus numquam libero alias, consectetur sequi. Et accusamus quibusdam excepturi corporis recusandae reprehenderit repellat.
            Eligendi alias quasi perspiciatis eos debitis natus doloremque reiciendis nostrum laudantium deleniti minus in dolor odio ipsa dolorem, laborum dolorum, voluptates repellat facilis iure distinctio voluptas. Atque mollitia modi eius.
            Enim nihil fuga soluta culpa commodi. Reiciendis ab temporibus, quasi sunt dolor, in culpa commodi quaerat non ratione labore at ullam tempora ut, maxime saepe architecto similique itaque accusantium asperiores!
            Ut, illo tempore? Nulla provident non, quam distinctio id laboriosam impedit molestias qui velit fugit tempora, quas sunt vero eos nesciunt iste culpa perspiciatis voluptatibus vitae repellendus quo, officia aliquam.
            Impedit exercitationem consectetur animi amet omnis magni molestias, vel veniam ipsam, totam dolorem excepturi tempore earum minima. Quia molestias quis et porro. Quasi necessitatibus soluta alias accusantium ducimus quam corporis.
            Soluta perspiciatis incidunt accusamus iure consequatur sapiente suscipit, eveniet harum! Suscipit, reiciendis ipsum officiis sint asperiores dicta dolore distinctio quaerat saepe minus necessitatibus tenetur velit delectus aspernatur enim, quos autem?
            Autem praesentium repudiandae illum reiciendis tempore animi aut quo pariatur, vero unde dignissimos numquam voluptate! Dignissimos, ab. Ex iste provident quidem assumenda, dolorum possimus quisquam explicabo unde minus voluptates deleniti.
            Molestiae aliquam dolorum sit, ipsam rerum asperiores rem laboriosam impedit quidem reiciendis laudantium ut. Nostrum quia dolores deserunt blanditiis ipsa perferendis dolor odio natus quo repellat, et tempore distinctio magnam.
            Natus corporis doloremque repudiandae error soluta distinctio perferendis fuga optio labore quo quaerat magnam nisi veniam alias, dolorem earum nobis consectetur pariatur sunt? Quidem corrupti facilis dolor ducimus ut aspernatur?
            Ratione rem possimus excepturi maxime accusamus nihil, facilis aperiam similique inventore eligendi asperiores placeat laborum eos, magni nulla consectetur magnam, officia sequi corporis. Corrupti quo sapiente obcaecati fugiat provident dignissimos.
        </p>
    </div>
    <%- include('partials/footer') %>
</body>
</html>