<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/button.css" />
    <link rel="stylesheet" href="/styles/error.css" />
    <title>Trip Chaser</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="content">
      <h1>Error <%= statusCode %></h1>
      <p><%= message %></p>
      <a href="/" class="button">Go Back to Homepage</a>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
