<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>TripChaser</title>
  </head>

  <body>
    <div class="container">
      <div id="main-image-container">
        <img id="main-img" src="/images/Sidi_Bu_Said.jpg" alt="Sidi Bu Said" />
      </div>

      <%- include('partials/header') %>

      <div class="content">
        <%- include('partials/main') %>

        <%- include('partials/aside') %>
      </div>

      <%- include('partials/footer') %>

      </div>
  </body>
</html>