<!DOCTYPE html>
<html lang="en">
    
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>TripChaser</title>
  </head>

  <body>
    <div class="container">
      <div class="image-container">
        <img src="/images/Сиди_Бу_Саид1.jpg" alt="Сиди_Бу_Саид" />
      </div>
      <%- include('partials/header') %>
      <main>
        <%- include('partials/article') %>
      </main>
      <%- include('partials/footer') %>
    </div>
  </body>

</html>