<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <!-- <link rel="stylesheet" href="/styles/profile.css" /> -->
    <link rel="stylesheet" href="/styles/footer.css" />
    <title>Trip Chaser</title>
</head>
<body>
    <%- include('partials/header') %>
    <h1>Profile page</h1>
    <%- include('partials/footer') %>
</body>
</html>