<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trip Chaser</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/user-forms.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/button.css" />
  </head>

  <body>
    <%- include('partials/header') %>
    <main>
      <form action="/register" method="post">
        <fieldset>
          <legend>REGISTER</legend>
          <label for="username">Username <span class="asterisk">*</span></label>
          <input type="text" id="username" name="username" autocomplete="off" autofocus required />
          <label for="email">Email <span class="asterisk">*</span></label>
          <input type="email" id="email" name="email" autocomplete="email" required />
          <label for="password">Password <span class="asterisk">*</span></label>
          <input type="password" id="password" name="password" autocomplete="new-password" required />
          <label for="repeatPassword">Repeat password <span class="asterisk">*</span></label>
          <input type="password" id="repeatPassword" name="repeatPassword" autocomplete="new-password" required />
          <button type="submit" class="button">SUBMIT</button>
          <% if (locals.error) { %>
            <span class="tooltip" style="display: block;"><%= error %></span>
          <% } %>
        </fieldset>
      </form>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>