.post-container {
  background-color: whitesmoke;
  padding: 10px;
}

.post-title {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 30px;
  align-items: center;
}

#post-text {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  font-family: Arial, sans-serif;
  border: 2px solid #ccc;
  border-radius: 5px;
  resize: none;
}

#post-title-input {
  font-family: Arial, sans-serif;
  width: 80%;
  height: 2rem;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}
