main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

.article-container {
  display: flex;
  width: 100%;
}

.article-photo {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.article-info-container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  line-clamp: 7;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-left: 20px;
  overflow: hidden;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}