.post-container {
    height: 100%;
    background-color: whitesmoke;
    padding: 10px;
}

.post-title {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.post-text {
    padding: 30px;

}