html {
  min-height: 100%;
  background-image: url(../images/bgimage.png);
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  font-family: Modern No.20;
  height: 100%;
  margin: 0 3rem;
  padding: 0 1rem;
}