.full-post-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
}

.full-post-title {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

img {
  width: 80%;
}

.full-post-text {
  font-size: 1.2rem;
  line-height: 1.5;
  white-space: pre-line;
  max-width: 70ch;
  text-align: center;
}
